---
import Layout from "../layouts/Layout.astro"
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import GithubIcon from "../components/Github.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../components/Linkedin.astro";
import GmailIcon from "../components/Gmail.astro"
import SectionContainer from "../components/SectionContainer.astro";
import VisualIcon from "../components/Visual.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import TitleSection from "../components/TitleSection.astro";
import ProfileCheck from "../components/ProfileCheck.astro";
---




 <Layout 	title="Portfolio de Cruzdev, Desarrolador y Programador Web"
 			description="Contrata a Cruzdev para crear tu aplicación web">
	<main class="px-4">
		<SectionContainer class="w-full mx-auto lg:w-[740px] py-20">
    		<img class="rounded-full size-12 mb-4"
     			src="https://i.imgur.com/m772V8R.png"
     			alt="cruz photo"/>
				
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex  flex-row  gap-x-4 pb-6 lg:pb-10"> Hola!! soy Juan Cruz 
				<a 		
					href="https://www.linkedin.com/in/juan-cruz-lopez-231664335/"
					target ="_blank"
					rel="noopener"
					class="flex justify-center items-center"> 
				<Badge> Disponible para trabajar </Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-3xl text-wrap max-w-[700px]">
				<span class="text-yellow-200/90"> Desarrollador Web junior </span>
				<span class="text-red-300/90"> de Cordoba Capital, Argentina</span>
				<span class="opacity-85"> Especializado en React </span>
			</h2>
				<nav class="flex gap-x-4 mt-5 flex-wrap">
					<SocialPill href="https://github.com/Crus10">
						<GithubIcon class="size 5 md:size-6 "/>
						Github
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/juan-cruz-lopez-231664335/">
						<LinkedinIcon class="size 5 md:size-6 "/>
						Linkedin
					</SocialPill>
					<SocialPill href="mailto:juan.cruslol@gmail.com">
						<GmailIcon class="size 5 md:size-6 "/>
						juan.cruslol@gmail.com
					</SocialPill>
				</nav>		
		</SectionContainer>
		<SectionContainer id="Proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<VisualIcon class="size 4 md:size-4 "/>
				Proyectos
			</h2>
			<Projects />

		</SectionContainer>

		<SectionContainer class="py-20" id="sobre-mi">
			<TitleSection>
			  <ProfileCheck class="size-8" />
			  Sobre mí
			</TitleSection>
			<AboutMe />
		  </SectionContainer>



	</main>
</Layout>

